.header{
    height:50px;
    width:100%;
    background:#FF00C7;
    display: flex;
}
.logo{
    width: 150px;
    height: 40px;
    background:whitesmoke;
    margin: 5px 0px 5px 20px;
    text-align: center;
}
.container{
    width:100%;
    height:100vh;
    display: flex;
}

.sidenav{
    height:100vh;
    width: 15%;
    background:#FFDAF7;
    padding:15px;
    text-align: center;
}
.sidenav a{
    display:block;
    color: black;
    text-decoration:none;text-align: center;
    padding:15px 10px;
    font-size: 15px;
    height:30px;


}
.sidenav a:hover{
    background: #FF00C7 ;
    color: black;
}
.content{
    height:100vh;
    width: 85%;
}
.topnav{
    margin:0px 20px 0px 70%;
    display: flex;
    overflow: hidden;
}

.topnav a{
    display:block;
    color: white;
    text-decoration:none;text-align: center;
    padding:15px 10px;
    font-size: 15px;
    height:50px;


}

.topnav a:hover{
    background: #FFDAF7 ;
}

a.active{
    background: #FFDAF7 ;
}

.searchcontainer{
    width:100%;
    height:50px;
    margin-top: 20px;
}
.input-search{

    width: 30%;
    height:40px;
    border-radius: 30px;
    padding-left:25px;
    margin-left: 30%;

}

.cardcontainer{
    width:100%;
    height:80vh;
    padding:10px;
    display: flex;
    flex-wrap:wrap;
}

.cardcontent{
    margin:10px;
    height:200px;
    width:45%;
    display:flex;
    box-shadow:0px 4px 8px rgb(207, 203, 207);
}
.cardcontent:hover{

    box-shadow:0px 4px 8px rgb(146, 132, 146);
}

.blogPicture{
    width:40%;
}
.blogcontent{
    width:60%;
    padding:10px;
    text-align:center;
}

.onecardcontent{
    width:100%;
    /* height:100vh; */
    /* background:violet; */

    box-shadow:0px 4px 8px rgb(146, 132, 146);
    text-align: center;
}

.oneblogcontent{
    padding:0px 15% 0px 15%;
}

.signinModal{
    width:100%;
    height:100vh;
    background:rgba(0, 0, 0, 0.795);
    position:fixed;
    display:none;
}

.siginCard{
    margin:5% 10% 10% 35%;
    width:30%;
    height: 70vh;
    background:white;
    box-shadow:0px 4px 8px #3a3a3a;
    text-align:center;
    padding:40px;

}

.inputLogin{
    width:80%;
    height:30px;
    padding:10px 20px;
    border:1px solid rgb(185, 182, 182);
    margin:20px;
}

.loginbutton{
    width:90%;
    height:50px;
    background:violet;
    cursor:pointer;
}

.close{
    position:absolute;
    /* right:25px; */
    /* top :0; */
    margin:-20px 20px 0px 10%;
    color:black;
    font-size:35px;
    font-weight:bold;
    cursor:pointer;
}

.close:hover{
    color:red;
}